<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.dao.NewsDao">

<resultMap type="News" id="newsBean">
<id column="id" property="id"/>
<result column="newsname" property="newsname"/>
<result column="news" property="news"/>
<result column="datetime" property="date"/>
<result column="flag" property="flag"/>
<result column="image" property="image"/>
<result column="origin" property="origin"/>
<association property="catalog" javaType="Catalog">
<id column="catalogid" property="catalogid"/>
<result column="catalogname" property="catalogname"/>
</association>
</resultMap>

<select id="getnewsby" resultMap="newsBean" parameterType="String">
select * from news n,catalog c where n.catalog = c.catalogid order by #{0} #{1} limit 0,30
</select>
<select id="getAllNews" resultMap="newsBean">
select * from news n, catalog c where n.catalog = c.catalogid order by datetime desc

</select>
<select id="getLimitNews" resultMap="newsBean">
select * from news n, catalog c where n.catalog = c.catalogid 
<choose>
<when test="catid!=null">
and n.catalog=#{catid}
</when>
<when test="newsid!=null">
and n.id=#{newsid}
</when>
</choose>
<choose>
<when test="begin!=null">
order by datetime desc limit #{begin},#{size}
</when>
<when test="begin=null and size!=null">
order by datetime desc limit 0,#{size}
</when>
<otherwise>
order by datetime desc limit 0,10
</otherwise>
</choose>
</select>

<insert id="addnews" >
insert into news (newsname,news,datetime,flag,image,origin,catalog) 
values ('${newsname}','${news}','${date}','${flag}','${image}','${origin}','${catalog.catalogid}')
</insert>

<update id="changenews">
UPDATE news
<set>
<if test="newsname!=null">newsname=#{newsname},</if>
<if test="news!=null">news=#{news},</if>
<if test="date!=null">datetime=#{date},</if>
<if test="flag!=null">flag=#{flag},</if>
<if test="image!=null">image=#{image},</if>
<if test="origin!=null">origin=#{origin},</if>
<if test="catalog.catalogid!=null">catalog=#{catalog.catalogid},</if>
</set>
where id=#{id}
</update>

<delete id="deletebyid">
delete from news where id=#{id}
</delete>
</mapper>