@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
	
.head{
	background-image: url(../images/background1.jpg);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	width:100%;
	height:70px;
	float: left;
	}
.head ul{
	text-align:center;
	width: 100%;
	margin: 0px auto;
	margin-top: 50px;
}
.head li{
	font-size:15px;
	display:inline;
	text-align:center;
	list-style-type: none;
}
.head a{
	color:white;
	text-decoration: none;
}
.foot{
	background-color:#d2d2ff;
	width:100%;
	height:164px;
	float: left;
}
.foot .te{
	margin-top:50px;
	color:white;
	background-image: url(../images/background.jpg);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	width:100%;
	text-align: center;
}
